#logoHenry {
    margin-right: 20px;
  }
  
  .navbar{
    background-color: #1e8dbd70;
  }

  .navbar-brand{
    text-transform: uppercase;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }